/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #804000;
	background-color: #eebc11;
	/* 	margin: 40px 0px 70px; */
	text-align: center;
}

body {
	padding: 10px;
}

/* table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr:hover{background-color:#f5f5f5} */
.mainPanel {
	padding: 6px;
	margin-bottom: 6px;
	width: 100%;
}

.fullWidth {
	width: 100%;
}

.contactList {
	border-bottom: 1px solid silver;
	border-left: 1px solid silver;
	border-right: 1px solid silver;
	padding: 6px;
	margin-bottom: 6px;
	border-collapse: collapse;
	width: 100%;
}

/* contact list header row */
.contactListHeader {
	background-color: #ff8000;
	border: 1px solid #ff8000;
	color: #804000;
	font-style: normal;
	font-weight: bold;
	padding: 6px;
	width: 100%;
}

.contactListRow {
	border-bottom: 1px solid silver;
}

.contactListCell {
	border-bottom: 1px solid white;
}

.addEditDialogBox {
/* 	width: 100%; */

}

/** Set ids using widget.getElement().setId("idOfElement") */
#cancelButton {
	margin: 15px 6px 6px;
}

#editButton {
	margin: 15px 6px 6px;
}

#addContactButton {
/* 	position: absolute; */
/* 	right: 16px; */
	margin: 6px 6px 15px;
/* 	align-self: flex-end; */
}

#addContactLabel {
	margin: 6px 6px 15px;
}